API_ID=
API_HASH=

MIN_AVAILABLE_ENERGY=100
SLEEP_BY_MIN_ENERGY=[300, 500]

ADD_TAPS_ON_TURBO=2500

AUTO_UPGRADE=True
MAX_LEVEL=15

BALANCE_TO_SAVE=100000
UPGRADES_COUNT=3

APPLY_DAILY_ENERGY=True
APPLY_DAILY_TURBO=True

RANDOM_TAPS_COUNT=[50,200]
SLEEP_BETWEEN_TAP=[50, 60]
USE_PROXY_FROM_FILE=False

TG_TOKEN=

MAIN_NAME=bot
SESSION_PATH=sessions
BAD_SESSIONS_PATH=bad_sessions

USER=root
PASSWORD=
HOST=localhost

RENEW_AUTH=3600

OWNERS = []